/* Markdown.css */
.markdown h1 {
  font-size: 2em;
  margin-top: 1em;
}

.markdown h2 {
  font-size: 1.5em;
  margin-top: 1em;
}

.markdown table {
  width: 100%;
  border-collapse: collapse;
}

.markdown th,
.markdown td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
